# OS
.DS_Store
Thumbs.db
Desktop.ini

# IDEs
.vscode/
.idea/
*.swp

# Compilados
*.class
*.exe
*.o
__pycache__/
*.pyc

# Datasets grandes
*.csv
*.xlsx

# Temporales
*.tmp
*.log
*.bak

# Dependencias
node_modules/
venv/
.env

# Jupyter
.ipynb_checkpoints/